include pyproject.toml uv.lock LICENSE THIRD_PARTY_NOTICES.md
recursive-include LICENSES *.txt
recursive-include tools *
recursive-include src/fmd *
recursive-include scripts *.py *.sh
recursive-include tests *
global-exclude __pycache__ *.py[cod]
